
<h5>{{languageService.i18n['planner.controller']}}</h5>
<div class="field-planner">
  <canvas id="scatterChart" width="1500" height="700"style=" background-color: lightgrey;" ></canvas>
  <!-- <canvas id="myCanvas" width="1500" height="700" style=" background-color: lightgrey;" #canvas></canvas> -->

  <div class="map-legend">
      <span><img src="/assets/img/chair.png" width="35" height="35"></span><label>Chair</label>
      <span><img src="/assets/img/table.png" width="35" height="35"></span><label>Table   </label>
      <span class="wall-icon"></span><label>  Wall</label>
      <span><img src="/assets/img/gnb.png" width="35" height="35"></span><label>Gnb (TX) </label>
      <span><img src="/assets/img/ris.png" width="35" height="35"></span><label>RIS</label>
      <span><img src="/assets/img/ue.png" width="35" height="35"></span><label>UE (RX)</label>
  </div>
</div>
